<h1>Editing student info</h1>

<%= render "form", student_info: @student_info %>

<br>

<div>
  <%= link_to "Show this student info", @student_info %> |
  <%= link_to "Back to student infos", student_infos_path %>
</div>
